.packing-lists
    &-header 
        padding .5em 
.documents
    &-header 
        padding .5em 
.embark 
    &-avatar
        padding .5em
        >img
            width 200px 
            height 180px
    &-detail 
        padding .5em
        width 100%
