@import "./fonts.styl"
@import "./header.styl"
@import "./nav-bar.styl"
@import "./footer.styl"
@import "./util.styl"
a
article
aside
body
div
figcaption
figure
h1
h2
h3
h4
h5
header
input
li
p
section
select
option
span
table
tbody
textarea
th
thead
tr
ul
ol
video
img{
	box-sizing border-box
	margin 0
	padding 0
}
a{
	text-decoration none
	color white
}
body{
	position: relative;
	background  #eff2e7
	font-family "Sans-Serif" "Comic Sans MS"
	font-size 16px
}

li
	list-style none
img
	vertical-align top