.navbar-brand {
    padding: 0;   
}
.navbar {
    padding: 0 .25em;  
}
.nav-hover 
    transition .3s
    &:hover
        background rgba(white, .3)
        >a 
            text-decoration underline


@media (min-width: 992px) 
    .navbar {
        padding: 0 .25em;  
    }
    .navbar-brand {
        padding: 0 .5em 0 0;  
        margin: 0;  
    }
    .nav-link{
        min-width: 80px
        height:5vh;
        line-height: 2.5vh
        text-align center 
    }
